# MongoDB Atlas
MONGO_URI=mongodb+srv://<user>:<password>@dads5001.wsusojn.mongodb.net/?appName=dads5001
MONGO_DB=dads5001
MONGO_COLLECTION=bangkok_complaints

# Snowflake
SNOWFLAKE_ACCOUNT=<account_identifier>
SNOWFLAKE_USER=<username>
SNOWFLAKE_PASSWORD=<password>
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=DADS5001
SNOWFLAKE_SCHEMA=PUBLIC

# Google Gemini
GOOGLE_API_KEY=<your_google_ai_studio_api_key>
